<div class="container">
	<div class="jumbotron header_bg">
		<h1>Editing Wish</h1>
</div>

<%= render 'form', wish: @wish %>
<%= link_to 'Show', @wish, class:"btn btn-default" %> 
<%= link_to 'Back' , wishes_path, class: "btn btn-warning" %>
</div>
