<div class="bg_wishes" id="bg">
  <div class="row">
    <div class="col s12" style="background-color: transparent;">
      <h1 style="text-align: center; font-family: 'Bilbo', cursive;">Önskelista</h1>
      <% if admin_signed_in?  %>
       <a href="<%=new_wish_path%>" class ="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
       <%end%>
    </div>
  <div class="container">
    <div class="row">
      <%= render @wishes %>
    </div>
</div>
</div>