<div class="bg_wishes" id="bg">
  <div class="container">
    <div class="jumbotron" style="background-color: transparent;">
      <h1 style="text-align: center; font-family: 'Bilbo', cursive;">Önskelista</h1>
      <hr>
    </div>
    <div id="control-buttons">
  	   <% if admin_signed_in?  %>
	     <%= link_to 'add', new_wish_path, class: "mdl-button bg-success"%>
	     <%end%>
    </div>
    <div class="card-columns text-center">
      <%= render @wishes %>
    </div>
</div>