<div class="col s12 blue">
<%=render 'shared/nav' %> 
	<div class="header white-text">
	<h4 id="greeting" class="animated fadeInDown">Hello There!, I'm</h4>
	<h1 id="name" class="animated zoomIn" style="animation-delay: 0.5s">Tobias Alldén</h1>
	<h5 id="role" class="animated fadeInDown" style="animation-delay: 1.2s">A Software Engineering student from Gothenburg, Sweden</h5>
</div>

</div>
<div class="container">
    <div class="row">
    	<h4 class="blue-text center-align animated fadeIn" style="animation-delay: 1.6s">What do I do?</h4>
      <div class="col s4 center-align animated fadeInLeft" style="animation-delay: 2.0s">
         <i class="large material-icons">insert_chart</i> 
         <h5>Devloper</h5>
         <p>Knows several programming languages, used to working in linux enviroments</p>
      </div>
      <div class="col s4 center-align animated fadeInUp" style="animation-delay: 2.0s">
         <i class="large material-icons green-text">insert_chart</i> 
        <h5>Web Developer</h5>
        <p>Currently working as a web devloper. Knows full stack and design</p>
      </div>
      <div class="col s4 center-align animated fadeInRight" style="animation-delay: 2.0s">
         <i class="large material-icons">insert_chart</i> 
         <h5>Software Engineer</h5>
         <p>Currently Pursuing a master in Software Engineering</p>
        </div>
    </div>
  </div>.
    <div class="row blue-grey" id="portfolio">
      <div class="col s4">
      </div>
      <div class="col s4">JOB</div>
      <div class="col s4">JOB</div>

    </div>
</div>
