<div class="bg" id="bg">

<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="main-container col-md-8">
			<div class="row">
				<div class="col-md-4"></div>
				<p class="animated fadeIn col-md-4">Hello there! My name is</p>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<h1 class="animated fadeInDown col-md-8">Tobias Alldén</h1>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>	
					<p class="col-md-8">Developer | Musician | Knower of Unecessary facts </p>	
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">	
				<p class="text-danger">This page is under construction.</p>

				<ul id="links">
					<li class="animated fadeInLeft" style="animation-duration: 0.5s; animation-delay: 0.7s; text-align: right;"><a href="#">About</a></li>
					<li class="animated fadeInRight" style="animation-delay: 0.7s; animation-duration: 0.5s; text-align: left;"><a href="#">Blog</a></li>
				</ul>
			</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</div>