<div class="bg" id="bg">

<div class="container">
	<div class="row">
		<div class="main-container col s8 ">
			<div class="row">
				<p class="animated fadeIn col s4 offset-s4">Hello there! My name is</p>
			</div>
			<div class="row">
				<h1 class="animated fadeInDown col s8 offset-s2">Tobias Alldén</h1>
			</div>
			<div class="row">
					<p class="col s8 offset-s2">Developer | Musician | Knower of Unecessary facts </p>	
			</div>
			<div class="row">
				<div class="col s6 offset-s4">
					<ul id="links">
						<li class="animated fadeInLeft col s3"><a href="#">About</a></li>
						<li class="animated fadeInRight col s3"><a href="#">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>