// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .bg {
 	background-image: url(bg.jpeg);
 		

    /* Full height */
    height: 100%; 


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     &:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#000000,#000000);
        opacity: .35; 
  }
 }

.main-container {
	color: white;
	position: absolute;
	margin-top: 25%;
}
.main-container h1 {
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	font-style: thin;
	animation-duration: 0.5s;
	text-align: center;

}
.main-container p {
	font-family: 'Raleway', sans-serif;
	animation-delay: 0.5s;
	font-size: 100%;
	font-spacing: 0.1;
	text-align: center;
}
#links {
	list-style-type: none;
}
#links li {
	display: inline;
	font-family: 'Raleway', thin;
	font-size: 2em; 

}
.section-header {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.container-shadow {
	margin-top: 50px;
    box-shadow: 0 0 30px black;
    padding:0 15px 0 15px;
}
.blue-gradient {
	background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
	height: 75vh;
	text-align: center;
	padding-top: 10%;
}
.navbar-fixed {position: absolute;z-index:999999999;}